app = "kanban-tool"
kill_signal = "SIGINT"
kill_timeout = 5

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"

[[services]]
  internal_port = 4173
  protocol = "tcp"
  request_timeout = "30s"
  [[services.ports]]
    handlers = ["http"]
    port = 80
  [[services.ports]]
    handlers = ["http", "tls"]
    port = 443
  [services.concurrency]
    type = "requests"
    soft_limit = 15
    hard_limit = 25
  [[services.tcp_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "1m"
# fly.toml app configuration file generated for react-kanban-tool on 2026-01-22T20:17:25Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'react-kanban-tool'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
